.home-header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    flex-direction: column;
    & h2 {
      font-weight: 400;
    }
    & h3 {
      font-weight: 400;
      font-size: 16px;
      color: gray;
    }
  }
  &_right {
    width: 40px;
    height: 40px;
    background-color: red;
  }
}

//
.coming-soon-sec {
  & h2 {
    margin-bottom: 10px;
  }
  padding: 15px 0 15px 20px;
  & ul {
    overflow-y: hidden;
    display: flex;
    gap: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// Cinema near you
.cinema-sec {
  padding: 10px 20px;
}
