@use "../styles/variables.scss" as *;
.page-navbar {
  max-width: 1200px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  & ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    & li:hover path {
      cursor: pointer;
      fill: $skyblue;
    }
    & li a.active {
      path {
        fill: $skyblue;
      }
    }
  }
}
