@use "../styles/variables.scss" as *;
.search-overlay {
  padding: 15px 20px;
  position: relative;
  & input {
    color: white;
    background-color: $gk;
    width: 100%;
    border: 1px solid $text-3;
    padding: 15px 45px;
    border-radius: 12px;
    &:focus {
      outline: none;
      border-color: $skyblue;
    } 
  }
  &_icon {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
  }
}
.search-overlay input:focus + .search-overlay_icon,
.search-overlay input:not(:placeholder-shown) + .search-overlay_icon {
  opacity: 0;
}
.search-overlay.active {
  background-color: $gk;
}
// Overlay Results
.search-results {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  overflow-y: auto;
  z-index: 10;
  padding: 10px 20px;
  padding-bottom: 50px;
  background: $gk;
  &_ul {
    display: flex;
    gap: 15px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

