.search-overlay {
  padding: 10px 20px;
  position: relative;
}

.search-overlay input {
  color: #d3d3d3;
  background-color: #696D74;
  width: 220px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  &:focus {
    outline: none;
  }
}

