@use "../styles/variables.scss" as *;
.search-overlay {
  padding: 15px 20px;
  position: relative;
  & input {
    color: white;
    background-color: $gk;
    width: 100%;
    border: 1px solid $text-3;
    padding: 15px 45px;
    border-radius: 12px;
    &:focus {
      outline: none;
      border-color: $skyblue;
    } 
  }
  &_icon {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
  }
}
.search-overlay input:focus + .search-overlay_icon,
.search-overlay input:not(:placeholder-shown) + .search-overlay_icon {
  opacity: 0;
}


.search-results {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px 20px;
  background: orange;
  border-radius: 10px;

  z-index: 1000;
  &_ul {
    display: flex;
    gap: 20px;
  }
}
